<div class="container">

    <mat-card class="col-12">
  
      <mat-card-content class="ml-2">
  
        <mat-label class="row font-weight-bold">Course Code</mat-label>
  
        <mat-label class="row">BA3102</mat-label>
  
        <mat-divider></mat-divider>
  
        <mat-label class="row font-weight-bold">Course Name</mat-label>
  
        <mat-label class="row">Quantitative techniques</mat-label>
  
        <mat-divider></mat-divider>
  
        <mat-label class="row font-weight-bold">Course Type</mat-label>
  
        <mat-label class="row">Semester - 1</mat-label>
  
        <mat-divider></mat-divider>
  
        <mat-label class="row font-weight-bold">Credits(4)</mat-label>
  
        <mat-label class="row">Lecture - <span class="font-weight-bold">3</span></mat-label>
  
        <mat-label class="row">Tutorial -<span class="font-weight-bold">0</span></mat-label>
  
        <mat-label class="row">Practical - <span class="font-weight-bold">1</span></mat-label>
  
        <mat-label class="row">Project - <span class="font-weight-bold">0</span></mat-label>
  
        <mat-divider></mat-divider>
  
        <mat-label class="row font-weight-bold">Course Outcomes (COs)</mat-label>
  
        <div class="row">
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">CO2</button>
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">CO4</button>
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">CO5</button>
  
        </div>
  
        <div class="row mt-1">
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">CO7</button>
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">C13</button>
  
          <button type="button" class="btn-green btn btn-sm btn-primary mr-1">C14</button>
  
        </div>
  
        <mat-divider></mat-divider>
  
        <mat-label class="row font-weight-bold">Mapped to this Course</mat-label>
  
        <div class="row">
  
          <button type="button" class="btn btn-sm btn-primary mr-1">PO7</button>
  
          <button type="button" class="btn btn-sm btn-primary mr-1">PO10</button>
  
          <button type="button" class="btn btn-sm btn-primary mr-1">PO12</button>
  
        </div>
  
        <div class="row mt-1">
  
          <button type="button" class="btn btn-sm btn-primary mr-1">PO8</button>
  
        </div>
  
      </mat-card-content>
  
    </mat-card>
  
  </div>